<section>
  <div class="global">
    <h3>Mes compétences techniques</h3>
    <div class="allSkills">
      <div class="webSkills">
        <div class="competence">
          <p>HTML</p>
          <div class="container">
            <div class="skills html">80%</div>
          </div>
        </div>
        <div class="competence">
          <p>Angular</p>
          <div class="container">
            <div class="skills angular">80%</div>
          </div>
        </div>
        <div class="competence">
          <p>Typescript</p>
          <div class="container">
            <div class="skills ts">80%</div>
          </div>
        </div>
        <div class="competence">
          <p>CSS</p>
          <div class="container">
            <div class="skills css">70%</div>
          </div>
        </div>
      </div>
      <div class="webSkills">
        <div class="competence">
          <p>Android (Java)</p>
          <div class="container">
            <div class="skills android">70%</div>
          </div>
        </div>
        <div class="competence">
          <p>Git</p>
          <div class="container">
            <div class="skills git">60%</div>
          </div>
        </div>
        <div class="competence">
          <p>Agilité</p>
          <div class="container">
            <div class="skills agilite">70%</div>
          </div>
        </div>
        <div class="competence">
          <p>Flutter</p>
          <div class="container">
            <div class="skills flutter">30%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
