<div class="container">

  <div class="contact">
    <span>Contact</span>
    <div class="icons">
      <!-- This is not an error. Importation is ok-->
      <a href="mailto:andy.mariani@limayrac.fr" class="icon"><fa-icon [icon]="['fas', 'envelope-square']" class="fa-3x" id="mail"></fa-icon> </a>
      <a href="https://codepen.io/your-work" class="icon"><fa-icon [icon]="['fab', 'codepen']" class="fa-3x" id="codepen"></fa-icon></a>
      <a href="https://www.linkedin.com/in/andy-mariani-306a33122/" class="icon"><fa-icon [icon]="['fab', 'linkedin']" class="fa-3x" id="linkedin"></fa-icon></a>
    </div>
  </div>

  <div class="credits">
    <span>Credits</span>
    <div class="links">
      <a href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
      <a href="http://www.freepik.com">Designed by vectorjuice / Freepik</a>
    </div>
  </div>
</div>
