<!-- Test de la vidéo sur la parallax -->

<section>
  <div class="titre">
    <h1>Andy Mariani</h1>
  </div>
  <img src="../../../assets/images/fond_portfolio.png" id="fond">
  <img src="../../../assets/images/nuage1.png" id="n1">
  <img src="../../../assets/images/nuage2.png" id="n2">
  <img src="../../../assets/images/nuage3.png" id="n3">
  <img src="../../../assets/images/etoileFull.png" id="etoile_full" data-speed="0.75">
  <img src="../../../assets/images/lune_full.png" id="lune_full" data-speed="0.5">
  <img src="../../../assets/images/fusee.png" id="fusee">
</section>
<app-about></app-about>
<app-experience></app-experience>
<app-skills></app-skills>
<app-footer></app-footer>
