<!-- <section>
  <div class="container">
    <div class="image">
      <img src="../../../assets/images/andymariani_centre.png" />
    </div>
    <div class="informations">
      <h1>Qui suis-je ?</h1>
      <p>
        Je m'appelle Andy Mariani, j'ai 24 ans et je suis diplômé d'un Master en informatique.
        Je m'intéresse particulièrement au développement web et mobile. J'ai déjà un peu d'expérience,
        notamment grâce à mes trois ans chez Thales AVS en tant que stagiaire puis alternant.
        Je cherche actuellement mon premier travail.
      </p>
      <title>Mes centres d'intérêts</title>
      <div class="hobbies">
        <div class="hobbie">
          <h2>Le web ?</h2>
          <p>
            Venant d'une formation généraliste, j'ai choisi de travailler dans le domaine du web et du mobile
            car c'est un monde en perpétuel mouvement. Il y a toujours quelque chose de nouveau à essayer.
            j'aime que ce soit concret, avec le web je peux rapidement voir le résultat. Front-end, back-end
            UI/UX, tout m'intéresse, la seule limite c'est le temps de formation :)
          </p>
        </div>
        <div class="hobbie">
          <h2>Equipe ?</h2>
          <p>
            j'aime travailler en équipe, tout devient plus agréable. j'ai appris l'organisation agile
            et je trouve ça très efficace. A plusieurs, on s'entraide, on apprend les uns des autres
            et on déplace des montagnes.
          </p>
        </div>
        <div class="hobbie">
          <h2>Remote ?</h2>
          <p>
            Je ne sais pas trop... Le remote à des avantages non négligeables mais j'aime aller au travail
            le matin et voir du monde. Donc je reste ouvert à cette organisation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section>
  <div class="container">
    <div class="image">
      <img src="../../../assets/images/andymariani_centre.png" />
    </div>
    <div class="informations">
      <h1>Qui suis-je ?</h1>
      <p>
        Je m'appelle Andy Mariani, j'ai 24 ans et je suis diplômé d'un Master en informatique.
        Je m'intéresse particulièrement au développement web et mobile. J'ai déjà un peu d'expérience,
        notamment grâce à mes trois ans chez Thales AVS en tant que stagiaire puis alternant.
        Je cherche actuellement mon premier travail.
      </p>
      <title>Mes centres d'intérêts</title>
      <div class="hobbies">
        <div class="hobbie">
          <fa-icon [icon]="['fas', 'globe-americas']" class="fa-3x" id="mail"></fa-icon>
          <h2>Web</h2>
          <p>
            Venant d'une formation généraliste, j'ai choisi de travailler dans le domaine du web et du mobile
            car c'est un monde en perpétuel mouvement. Il y a toujours quelque chose de nouveau à essayer.
            j'aime que ce soit concret, avec le web je peux rapidement voir le résultat. Front-end, back-end
            UI/UX, tout m'intéresse, la seule limite c'est le temps de formation :)
          </p>
        </div>
        <div class="hobbie">
          <fa-icon [icon]="['fas', 'users']" class="fa-3x" id="mail"></fa-icon>
          <h2>Equipe</h2>
          <p>
            J'aime travailler en équipe, tout devient plus agréable. j'ai appris l'organisation agile
            et je trouve ça très efficace. A plusieurs, on s'entraide, on apprend les uns des autres
            et on déplace des montagnes.
          </p>
        </div>
        <div class="hobbie">
          <fa-icon [icon]="['fas', 'laptop-house']" class="fa-3x" id="mail"></fa-icon>
          <h2>Remote</h2>
          <p>
            Je ne sais pas trop... Le remote à des avantages non négligeables mais j'aime aller au travail
            le matin et voir du monde. Donc je reste ouvert à cette organisation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
